In [18]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["John", "Rock", "Neil", "Tom", "John", "John"],
    "Rank": [1, 2, 3, 6, 1, 1],
    "Marks": [98, 59, 97, 99, 98, 98]
})

In [19]:
# to get all the duplicates
df.duplicated(keep=False)

0     True
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [20]:
# to get the duplicated number
df.duplicated(keep=False).sum()

3

In [21]:
# shift+tab to get the menu try and you ll know
df.duplicated().sum()

2

In [22]:
df.loc[df.duplicated(keep=False)]

   Name  Rank  Marks
0  John     1     98
4  John     1     98
5  John     1     98

In [23]:
# Corrected DataFrame creation
df1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], index=['cobra', 'viper', 'sidewinder'], columns=['max_speed', 'shield'])

# Drop duplicates except the first occurrence
df1 = df1.drop_duplicates(keep='first')

print(df1)

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [24]:
# changing the dataset by setting inplace true
# default is false
df.drop_duplicates(keep='first', inplace=True)
print(df)

   Name  Rank  Marks
0  John     1     98
1  Rock     2     59
2  Neil     3     97
3   Tom     6     99